.list__card {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;
  padding: 10px;
  gap: 16px;
  @media (max-width: 1200px) {
    grid-template-columns: auto auto auto auto auto;
  }
  @media (max-width: 900px) {
    grid-template-columns: auto auto auto auto;
  }
  @media (max-width: 640px) {
    grid-template-columns: auto auto auto;
  }
  @media (max-width: 480px) {
    grid-template-columns: auto auto;
  }
}
